# Application
PORT=3500
NODE_ENV=development

# Swagger (optional)
SWAGGER_PATH=api
SWAGGER_TITLE=Servicio Tecnico API
SWAGGER_DESCRIPTION=API para gestion de servicio tecnico
SWAGGER_VERSION=1.0

# Database (MongoDB Atlas)
MONGODB_URI=mongodb+srv://admin:admin@cluster0.jim6x.mongodb.net/?appName=Cluster0
MONGODB_DB=serviciotecnico

# JWT
JWT_SECRET=NCpQSEJeFcZ451iGx30rl5OUvjiUgokI5msj9uvnD35
